* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(162, 155, 254, 0.5) !important;
}

.container {
  border-radius: 15px;
}

#footer a {
  text-decoration: none;
  line-height: 34px;
  color: #000000;

}

#footer a:hover {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}