* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #ff090963;
}

.maintitle{
    text-shadow: 1px 1px 4px white;
}


footer #footer {
    margin-top: 5px;
    height: 34px;
    color: #fff;
    text-align: center;
    font-size: 0.9em;
    text-shadow: 1px 1px 5px black;
}

#footer a {
    text-decoration: none;
    color: #F3F700;
    line-height: 34px;
    
}

#footer a:hover {
    color: #000000;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgb(241, 1, 1);
}